<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous" version="0.61.0" targetFramework="xamarinios10" />
  <package id="Fabulous.LiveUpdate" version="0.61.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms" version="0.61.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="0.61.0" targetFramework="xamarinios10" />
  <package id="FSharp.Core" version="5.0.0" />
  <package id="Newtonsoft.Json" version="12.0.3" />
  <package id="Xamarin.Essentials" version="1.6.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="5.0.0.1931" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Visual.Material" version="5.0.0.1931" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.iOS.MaterialComponents" version="92.0.0" targetFramework="xamarinios10" />
</packages>